.brand {
    width: 100%;
    text-align: center;
    img {
        margin: $spacing 0;
        width: 300px;
        @include mobile {
            width: 400px;
        }
    }
    input {
        padding: $spacing;
        border-radius: 0.5rem;
        border: 1px solid $secondary-color;
        text-transform: uppercase;
        font-family: $primary-font;
        font-size: 1.8rem;
        font-weight: 700;
        letter-spacing: 0.1rem;
        width: 90%;
        text-align: center;
        @include mobile {
            width: 60%;
            text-align: left;
            margin-right: $spacing;
        }
    }
    input:focus {
        background-color: $tertiary-color;
        color: $aux-dark-color;        
    }
    .button--search {
        padding: $spacing;
        margin-top: 1rem;
        @include mobile {
            display: inline-block;
            width: 100px;
        }
    }

    @include tablet {
        width: 80%;
        margin-left: 20%;
    }
}
.favorites {
    position: absolute;
    top: 1rem;
    right: 1rem;
    span {
        font-weight: 700;
        font-size: 2rem;
        display: flex;
        align-items: center;
        color: $primary-color;
    }
}
